{% if not quickload %}{% extends "base.html" %}{% endif -%}
{% set active_page = "contact" %}
{% block app_content %}
  <div class="info-block">
    <div class="info-span">
      <h1> Contact me </h1>
      <hr>
      <p>
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          {{ params.name }}<br>
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
          <a href="{{ params.email }}">email</a><br>
          <span class="fa fa-linkedin-square" aria-hidden="true"></span>
          <a href="{{ params.linkedin }}">
              linkedin
          </a><br>
          <span class="fa fa-github-square" aria-hidden="true"></span>
          <a href="{{ params.github }}">
              github
          </a><br>
          <span class="fa fa-google-plus-square" aria-hidden="true"></span>
          <a href="{{ params.googleplus }}">
              google+
          </a>
      </p>
    </div>
  </div>
{% endblock %}
